body {
  margin: 20px 40px;
  background-color: white;
}


p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/

.wrapper {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
}

.wrapper1 {
  display: flex;
  height: 60px;
  background-color: red;
  margin-bottom: 20px;
}

.wrapper2 {
  display: flex;
  height: 60px;
  background-color: blue;
  margin-bottom: 20px;
}

.wrapper3 {
  display: flex;
  height: 60px;
  background-color: yellow;
  margin-bottom: 20px;
}

/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/

.redExample {
  flex: 1;
  background-color: red;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/

.blueExample {
  flex: 1;
  background-color: blue;
}

.greenExample {
  flex: 1;
  background-color: green;
}

.yellowExample{
  flex: 1;
  background-color: orange;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
.emptyExample1 {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.redExample1 {
  width: 80px;
  background-color: red;
}

.blueExample2 {
  width: 80px;
  background-color: blue;
}


.emptyExample2 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.blueExample2 {
  width: 80px;
  background-color: blue;
}

/* TODO: Add CSS for the rest of your solution below */

.emptyExample4 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.blueExample4 {
  width: 80px;
  background-color: blue;
}

.redsquare {
  width: 40px;
  background-color: red;
  vertical-align: middle;
  margin: 10px;
}

.bluesquare {
  width: 80px;
  background-color: blue;
  vertical-align: middle;
}
.greenRectangle{
  flex: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: green;
}

.yellowLines{
  width: 30px;
  background-color: green;
  vertical-align: middle;
}

.yellowLines1{
  width: 20px;
  background-color: green;
  vertical-align: middle;
}


